/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap'); */
html{
    font-family: "Open sans", "sans-serif";
    color: #373A3C;
}
#sidebar{
    position: fixed; /* serve para fixar elementos no html */
    height: 100%;
    width: 300px;
    padding-top: 40px;
    background-color: #006599;
}
#sidebar h1{
color: #fff;
font-size: 30px;
text-align: center;
margin-top: 20px;
margin-bottom: 30px;
}
#sidebar a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
#sidebar a:hover{
    color: #e9d436;
}
#sidebar li{
    padding: 10px;
}
.sidebar-conteiner{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.logo-doceria{
    width: 60px;
    height: 60px;
    display: block; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
